
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand-Regular")
  ,url("./fonts/Quicksand-Regular.ttf") format("truetype");
}

div {
  font-family: Quicksand;
}

.todo__input {
  width: 500px;
  color: white;
  background-image: linear-gradient(#fff, #fff);
  background-position: bottom 1px center;
  background-size: calc(100% - 10px) 2px;
  background-repeat: no-repeat;
  background-color: #202124;
  padding: 10px;
  border: none;
}

.email__input {
  width: 500px;
  color: white;
  background-image: linear-gradient(#fff, #fff);
  background-position: bottom 1px center;
  background-size: calc(100% - 10px) 2px;
  background-repeat: no-repeat;
  background-color: #202124;
  padding: 10px;
  border: none;
}

.todo__input:focus {
  outline: none !important;
}

.task-card {
  width: 600px;
}

@media screen and (max-width: 630px) {
  .task-card {
    width: 550px;
  }
}


@media screen and (max-width: 590px) {
  .task-card {
    width: 500px;
  }
}


@media screen and (max-width: 550px) {
  .task-card {
    width: 450px;
  }
}

@media screen and (max-width: 510px) {
  .task-card {
    width: 400px;
  }

  .todo__input {
    width: 450px;
  }
}


@media screen and (max-width: 440px) {
  .task-card {
    width: 350px;
  }

  .todo__input {
    width: 400px;
  }
}

@media screen and (max-width: 390px) {
  .task-card {
    width: 320px;
  }

  .todo__input {
    width: 370px;
  }
}

@media screen and (max-width: 360px) {
  .task-card {
    width: 300px;
  }

  .todo__input {
    width: 350px;
  }
}

.tick-mark {
  font-size: "30px";
  color: green;
  font-weight: bolder;
}

.remove-mark {
  color: red;
  font-weight: bolder;
}